.bg-celeste-argentina {
    background-color: #37bbed!important;
}

nav {
    display: block;
}

body {
    display: block;
    margin: 0px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.col-md-8.col-md-offset-2 {
    text-align: left; 
}

footer {
    background-color: #37bbed!important; /* Cambia el color de fondo según tu preferencia */
    color: 007BFF; /* Cambia el color del texto si es necesario para que sea legible en el nuevo fondo */
    padding: 20px 0; 
    position: relative;
    bottom: 0;
    width: 100%;
}

header {
    background-color:  #37bbed!important;
    color: 007BFF; /* Cambia el color del texto si es necesario para que sea legible en el nuevo fondo */
    padding: 20px 0; 
    position: relative;
    width: 100%;
    height: 20px;
    margin-bottom: 60px;
    font-size: 10px;
}

.title {
    color: white;
    margin-left: 10px;
    margin-top: 5px;
}

.datoscredencial {
    height: 20px;
    font-size: 35px;
    position: relative;
}

form {
    margin-bottom: 50px;
}

.logo {
    margin-left: 10px;
}